<!DOCTYPE html>
<html lang="en">
  <head>
    <title>rei0</title>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <script>
      MathJax = {
        options: {
          enableMenu: false,
        },
      };
    </script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>

    <!-- agate gruvbox-dark darcula monokai-sublime atelier-estuary-dark hopscotch lioshi ocean nnfx -->

    <link rel="stylesheet"
    href="/css/theme.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.1.0/build/highlight.min.js"></script>
  

    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
  </head>

  <body>
    {{ partial "header" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer" . }}

    <!-- <canvas id="boids"></canvas> -->

    <!-- <script src="/js/translate.js"></script> -->
    <script>
      hljs.configure({ cssSelector: 'code' });
      hljs.highlightAll();
    </script>
  </body>
</html>
