<header class="header">
  <div class="header__container">
    <h1 class="header__title">
      <a href="/">rei0</a>
    </h1>
    <ul class="header__menu">
      <li class="header__item">
        <a class="header__link" href="/pdf/resume.pdf">
          <span class="header__text">resume</span>
        </a>
      </li>
      <li class="header__item">
        <a class="header__link" href="mailto:dreissenzahn@protonmail.com">
          <span class="header__text">email</span>
        </a>
      </li>
      <li class="header__item">
        <a class="header__link" href="https://github.com/dreissenzahn">
          <span class="header__text">github</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- <hr class="header__rule"> -->
</header>
