<header class="header">
  <div class="header__container">
    <h1 class="header__title">
      <a href="/">rei97</a>
      <!-- <span style="font-family: serif; font-size: 1rem; margin-left: 0.25rem; font-weight: bolder;">☼</span> -->
    </h1>
    <ul class="header__menu">
      <li class="header__item">
        <a class="header__link" href="/static/pdf/resume.pdf">resume</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="https://github.com/dreissenzahn">projects</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="mailto:dreissenzahn@protonmail.com">contact</a>
      </li>
    </ul>
  </div>
  <hr class="header__rule">
</header>
