<header class="header">
  <div class="header__container">
    <h1 class="header__title">
      <a href="/">rei97</a>
    </h1>
    <ul class="header__menu">
      <li class="header__item">
        <a class="header__link" href="/resume">resume</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="/projects">projects</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="/contact">contact</a>
      </li>
    </ul>
  </div>
  <hr class="header__rule">
</header>
